.slider-main {
    width: 100%;
   /*Media queries - MOBILE*/
}
.slide {
    width: 100%;
    height: 600px;
    position: relative;
    outline: none;
}
.text {
    position: absolute;
    top: 30%;
    left: 10%;
}
.text p {
    color: white;
    font-size: 1em;
    margin-bottom: 0;
}
.text h1 {
    margin-top: 0;
    color: #05a0e3;
    font-size: 5em;
}
.slide {
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.15)), 
    /* url("../Img/images/living-room-makeover.jpg")  */
    center center;
}
.slick-dots {
    bottom: 15%;
}
.slick-dots li {
    margin: 0 1em;
}
.slick-dots li button:before {
    font-size: 20px;
    color: white;
    opacity: 1;
    content: '▬▬';
}
.slick-active button::before {
    color: #05a0e3 !important;
    opacity: 1 !important;
}
@media screen and (max-width: 500px) {
    .slide {
        height: 400px !important;
        background-size: cover;
   }
    .text {
        top: 20%;
        left: 5%;
   }
    .text h1 {
        font-size: 4em !important;
   }
    .slick-dots {
        bottom: 5%;
   }
}
